<div id="change-dates-modal<%= "#{assignment.id}" %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= form_for assignment, method: :patch do |f|%>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel"><%= assignment.name %></h3>
    </div>
    <div class="modal-body">
      <div>
        <span class="field-label"><%= f.label :active_at, "Active at" %></span>
        <div class="input-prepend"><%= f.date_field :active_at %></div>
      </div>
      <div>
        <span class="field-label"><%= f.label :due_at, "Due at" %></span>
        <div class="input-prepend"><%= f.date_field :due_at %></div>
      </div>
    </div>
    <div class="modal-footer">
      <%= f.submit "Update Assignment", class: "btn btn-success" %>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
    <% end %>
  </div>
